/*resetar alguns estilos*/
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
    font-size: 14px;
    color: rgb(160, 160, 160);
}

body{
    width: 100%;
    min-height: 100vh;
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}

.instagram-wrapper {
    /*sempre vai alinhar tudo em linha ocupando o espaço que necessita dentro do container*/
    display: flex;
    /*alinhamento vertical eixo y*/
    align-items: center;
    /*alinhamento horizontal eixo x*/
    justify-content: start;
    width: 60%;
    height: 100vh;
}

.instagram-phone{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 50%;
}
.instagram-phone img {
    height: 50rem;
}



.instagram-continue{
    display: flex;
    align-items: center;/* horizontal */
    justify-content: space-around;/* vertical */
    /* muda o eixo para coluna/ horizontal */
    flex-direction: column;
    width: 50%;
    min-height: 34rem;
}

.group{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 100%;
    /*1.3 = superior e inferior 0 = nas  laterais*/
    padding: 1.3rem 0;
    border: 1px solid lightgray;
}

/*seletor de ccs que pega os filhos do elemento
vai pegar o primeiro bloco do group*/
.group:nth-child(1){
    min-height: 19rem;
}

.instagram-logo{
    height: 3rem;
}

.profile-photo{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    overflow: hidden;
}

.profile-photo img{
    height: 6rem;
}

.instagram-login{
    background-color: #0095f6;
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    width: 238px;
    text-align: center;
}


.instagram-logout{
    color: #0095f6;
    /* margin-top: 1rem; */
}

.not-account{
    color: rgb(160, 160, 160);
}

.link-blue{
    color: #0095f6;
}

.get-the-app{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    padding: 1.3rem 0;
}

.download{
    
        padding: 1px;
        width: 20rem;
    
    display: flex;
    /* width: 100%; */
    /*propiedade que deixa os elementos com a mesma largua de espaçamento dos lados e dos meios 
    deixando exatamente no centro*/
    justify-content: space-evenly;
    align-items: center;
    /* padding: 1rem; */
}

.app-download{
    height: 3rem;
    width: 10rem;
    background-size: cover;
}

.app-download:nth-child(1) {
    background-image: url('../img/apple.jpg');
}

.app-download:nth-child(2) {
    background-image: url('../img/googleplay-button.png');
}
/*pagina cadastro*/
.groupcadastro:nth-child(1){
    margin: 2px 0 10px;
}
.groupcadastro{
    display: flex;
    
    align-items: center;
    flex-direction: column;
    background-color: #fff;
    width: 350px;
    border: 1px solid lightgray;
    margin: 2px 0 10px;
    padding: 10px 0;
    
}
.instagram-wrapper-cadastro {
    /*sempre vai alinhar tudo em linha ocupando o espaço que necessita dentro do container*/
    display: flex;
    /*alinhamento vertical eixo y*/
    align-items: center;
    /*alinhamento horizontal eixo x*/
    justify-content: center;
    width: 60%;
   
}



.titulo{
    width: 238px;
    display: flex;
    justify-content: center; /* centraliza o texto horizontalmente */
    align-items: center; /* centraliza as linhas verticalmente */
    margin: 10px 0; /* 30px -> margens superior e inferior */
 }
 
 .titulo::before,
 .titulo::after{
    content: '';
    position: relative;
    height: 1px; /* espessura das linhas */
    background: rgb(160, 160, 160); /* cor das linhas */
    min-width: 50px; /* largura mínima das linhas */
    flex-grow: 1; /* distribui a largura das linhas por igual */
 }
 
 .titulo span{
    color: rgb(160, 160, 160); /* cor do texto */
    padding: 0 15px; /* distancia do texto às linhas */
    font-weight: bold; /* negrito */
 }
 .cadastra-seh{
    color: rgb(160, 160, 160);
    text-align: center;
    font-size: 17px;
    font-weight: 600;
    line-height: 20px;
    margin: 20px 40px 10px;
}
.cadastra-se{
    color: rgb(160, 160, 160);
    text-align: center;
    line-height: 20px;
    margin: 0 40px 10px;
}
.cadastrar-form{
   
    color: #fff;
    padding: 8px;
    border-radius: 4px;
    width: 238px;
    border: 1px solid lightgray;
    margin: 3px 0;
    font-size: 10px;
    
}
form{
    text-align: center;
    
}
/* media queries */

@media (max-width: 1024px){
    .instagram-wrapper{
        width: 90%;
    }
}

@media (max-width: 650px){
    body {
        background-color: #ffffff;
    }

    .instagram-wrapper {
        width: 90%;
        display: block;
    }

    .instagram-phone {
        display: none;
    }

    .instagram-continue {
        width: 100%;
    }
    
    .group {
        border: 1px solid transparent;
    }
    .download{
        padding: 1px;
        width: 20rem;
    }
}